body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #B22222;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    display: flex;
    align-items: center;
}

.title {
    margin-right: 20px;
}

nav {
    display: none; /* Ocultamos el menú inicialmente */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 5px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hidden {
    display: none;
}

.image {
    display: block; /* Esto hace que la imagen sea un bloque */
    margin: 0 auto; /* Centramos la imagen horizontalmente */
    max-width: 100%; /* Para asegurarnos de que se ajuste a la pantalla */
}

main {
    padding: 20px;
    text-align: center; /* Centra el texto en el main */
}

section {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Para centrar la sección */
    max-width: 800px; /* Ancho máximo para evitar que sea demasiado ancho */
}

