body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center; /* Centra todo el texto en el body */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B22222;
    padding: 10px;
}

.menu-container {
    position: relative;
}

.title {
    margin-right: 20px;
    color: white; /* Cambiamos el color a blanco */
}

#menu-toggle {
    background-color: #B22222;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#menu ul {
    list-style-type: none;
    background-color: #B22222;
    padding: 0;
    margin-top: 10px;
    display: none; /* Inicialmente oculto */
    position: absolute;
    left: 0;
    top: 100%;
}

#menu ul li {
    padding: 10px;
}

#menu ul li a {
    color: white;
    text-decoration: none;
}

#menu ul li:hover {
    background-color: #8B0000;
}

.title h1 {
    margin-right: 20px;
    font-size: 24px;
    color: white; /* Asegúrate de que el texto sea blanco */
}

main {
    padding: 20px;
    text-align: center; /* Centra el texto en el main */
}

h2 {
    color: #B22222;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

.image {
    width: 155px; /* Establece el ancho a 155 píxeles */
    height: 194px; /* Establece la altura a 194 píxeles */
    display: block;
    margin: 20px auto; /* Asegura que la imagen esté centrada */
}
